<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Engineering Cards</title>
 
</head>

<body>
<div class="text-center mt-5">
        <p class="home-head">Open any department to add,update or delete notes</p>
      </div>

  <div class="cards-container mt-5">
    
    <div class="card">
      <div>
        <h2>Computer Engineering</h2>
      </div>
      <div>
        <p>Unlock the potential of computer systems and software development. Dive into coding, algorithms, and system architecture.</p>
      </div>
      <div>
        <a class="open-button" href="/admin/computer">open</a>
      </div>
    </div>

    <div class="card">
      <div>
        <h2>Electronics Engineering</h2>
      </div>
      <div>
        <p>Embark on a journey into the world of electronic circuits and systems. Understand the principles behind devices that power our modern world.</p>
      </div>
      <div>
        <a class="open-button" href="/admin/electronics">open</a>
      </div>
    </div>

    <div class="card">
      <div>
        <h2>Printing Technology</h2>
      </div>
      <div>
        <p>Immerse yourself in the art and science of printing and graphic communication. Explore the intersection of technology and creativity.</p>
      </div>
      <div>
        <a class="open-button" href="/admin/printing">open</a>
      </div>
    </div>
  </div>

</body>

</html>
