.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 20px auto;
  }

  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .open-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .open-button:hover {
    background-color: #45a049;
  }

.home-head{
  font-style: italic;
  color: #3498db;
}